*{
    margin: 0px;
    padding: 0px;
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0px;
    left: 0px;
}
#logo{
   
    margin: 12px 23px;

}

#logo img{
    height: 50px;
    margin: 3px 5px;

}

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
#home{
    display: flex;
    flex-direction: column ;
    height: 490px;
    padding: 3px 200px;
    /* padding-top: 5px;
    padding-left: 200px;
    padding-right: 200px; */
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    background: url('../healthy.jpg') no-repeat center center/cover;
    height: 80%;
    width: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
opacity: 0.89;
}
#home h1{ 
    text-align: center;
}
#home p{
    text-align: center;
    font-size: 1.5rem ;

    
}
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 20px;

}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-size: 1.2rem;
}

#client-section{
    height: 90px;
}

/* #client-section::before{
    content: "";
    position: absolute;
    background: url('../partnership.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity:0.4;

} */
.client-item{
    padding: 95px;
    /* margin: 30px; */
    text-align: center;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img{
    height: 160px;

}
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.h-primary{
    font-size: 2.8rem;
    padding: 12px;
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: palevioletred;
    margin: 17px;
    font-size: 1.5rem ;
    border-radius: 6px;
    cursor: pointer ;
    transition: all 1s ease-in-out;
}
.btn:hover{
    transform: scale(1.5)

}
.center{
    text-align: center;
}

.click{
    padding: 6px 20px;
    border: 2px solid black;
    background-color: rgb(58, 164, 216);
    margin: 17px;
    font-size: 1.5rem ;
    border-radius: 6px;
    cursor: pointer ;
    transition: all 1s ease-in-out;
}

.click:hover{
    transform: scale(1.5)

}